# Токен Telegram бота
BOT_TOKEN=7750833037:AAH3MEg51x42TmoXlByLrBxnxW35tP3dg8c

# Настройки веб-хука (для продакшн режима)
USE_WEBHOOK=False
WEBHOOK_HOST=example.com
WEBHOOK_PATH=/webhook/7750833037:AAH3MEg51x42TmoXlByLrBxnxW35tP3dg8c
WEBHOOK_URL=https://example.com

# Настройки веб-сервера
WEBAPP_HOST=localhost
WEBAPP_PORT=8000

# Настройки парсера ВГУИТ
VSUET_BASE_URL=https://rating.vsuet.ru/web/Ved/